<section class="mt-4 p-3 shadow">
  <div class="container">
    <h2 class="fw-bold mt-3 pt-3 text-center">
      تضخم <span class="text-main">البروستاتا الحميد </span>
    </h2>
    <section class="mt-2">
      <div>
        <div class="row row-cols-1 row-cols-md-2 g-3 mt-2">
          <div class="col">
            <h3 class="fw-bold">
              تضخم <span class="text-main"> البروستاتا </span>
            </h3>
            <p class="fw-bold p-2">
              ترتفع احتمالية الإصابة بتضخم البروستاتا بتقدم الإنسان في العمر، وقد
              يصل حجمها إلى حجم حبة الليمون، إلى أنّ تضخمها يؤثر بشكل واضح في
              تبوّل المصاب، وعلى الرغم من عدم قدرة العلماء على تحديد المسبب لمثل
              هذه الحالات، إلا أنّه يُعتقد أنّ هناك علاقة بين اضطراب بعض هرمونات
              الجسم في الذكور ومعاناتهم من تضخم البروستاتا، وقد ينتج عن الحالات
              الشديدة احتباس او انسداد مجرى البول فيعاني المصاب من صعوبة البدء في
              التبول على الرغم من امتلاء المثانة، وقد يُعاني من قلة كمية البول،
              وعدم القدرة على إفراغ المثانة أثناء التبوّل، وكذلك ظهور الحاجة
              الملحّة للتبوّل. وقد يقوم الطبيب بعلاج الحالة باختيار بعض العلاجات
              الدوائية أو الإجراءات الجراحية بحسب حالة المصاب
            </p>
            <div>
              <h4>عوامل الخطورة -:     </h4>
              <ul>
                <li>التقدم بالعمر
                </li>
                <li>التاريخ المرضي للعائلة
                </li>
                <li>نقص المناعة
                </li>
                <li>السمنة
                </li>
              </ul>
            </div>
            <div>
              <h4>الاعراض -:</h4>
              <ul>
                <li class="mt-1" >ختلف أعراض تضم البروستاتا، وشدتها من بين شخص إلى آخر، ولكنها تزداد سو ًءا مع التقدم في العمر، وعادة ما تبدأ األعراض
                  بعد سن 50 سنة، وتشمل : صعوبة في بدأ التبول </li>
                  <li class="mt-2">الحاجة المتكررة للتبول
                  </li>
                  <li class="mt-1">الصعوبة في افراغ المثانة
                  </li>
                  <li class="mt-1">ضعف او تقطيع اثناء التبول
                  </li>
                  <li class="mt-1">التقطير في نهاية التبول .
                  </li>
                  <li class="mt-1">قد يسبب أيضا احتباس للبول .
                  </li>
              </ul>
            </div>
          </div>
          <div class="col">
            <div class="card rounded-3 shadow">
              <img
                src="/mainimg/تضخم.jpg"
                class="w-100 rounded-3 img-thumbnail"
                alt="ourphoto"
              />
              <div class="d-flex align-items-center justify-content-center gap-3">
                <p class="fw-bold">
                  <a
                   target="_blank" class="text-decoration-none text-main"  href="https://ar.wikipedia.org/wiki/%D8%AA%D8%B6%D8%AE%D9%85_%D8%A7%D9%84%D8%A8%D8%B1%D9%88%D8%B3%D8%AA%D8%A7%D8%AA_%D8%A7%D9%84%D8%AD%D9%85%D9%8A%D8%AF#/media/%D9%85%D9%84%D9%81:Benign_Prostatic_Hyperplasia_nci-vol-7137-300_ar.jpg"
                    >اتجه للمصدر</a
                  >
                </p>
                <p class="fw-bold">created by NIH</p>

              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="rounded-3 mt-2 p-3 shadow p-3">
      <div>
        <h3 class="text-center fw-bold">متي يجب ان ازور الطبيب ؟</h3>
        <ul>
          <li>عدم القدرة علي التبول
          </li>
          <li>الحاجة المؤلمة والمتكررة للتبول
          </li>
          <li>نزول دم في البول
          </li>
          <li>الم شديد في الحوض
          </li>
        </ul>

      </div>
      <div>
        <h4>المضاعفات -:  </h4>

        <ul>
          <li> التهاب المسالك البولية المتكرر
          </li>
          <li>  احتباس البول الحاد
          </li>
          <li>تكوين حصوات المثانة
          </li>
          <li>نزول دم في البول
          </li>
          <li> قصور كلوي
          </li>
          <li> تلف المثانة .
          </li>
        </ul>

      </div>
      <div>
        <h4>التشخيص</h4>
        <p class="fw-bold">يتم التشخيص بوساطة الطبيب عن طريق النظر في الحالة الصحية واألعراض، وإن كان هناك تاريخ عائلي بتضخم البروستاتا،<br>فتجرى االختبارات عن طريق:    </p>
        <ul class="fw-semibold">
          <li>فحص المستقيم . <div class="d-flex flex-column gap-2 ">
            <img src="/mainimg/WhatsApp Image 2025-05-03 at 03.01.18_ad199a33.jpg" width="300px" alt="ourphoto">
            <div class="d-flex align-items-center gap-2">
              <p> <a class="text-main text-decoration-none fw-bold" target="_blank" href="https://commons.wikimedia.org/wiki/File:Digital_Rectal_Exam"> اتجه الي المصدر </a> </p>
              <p>National Institutes of Health</p>
            </div>

          </div>
          </li>
          <li>تحليل البول.
          </li>
          <li>اختبارات الدم.
          </li>
        </ul>
      </div>
      <div>
        <h4> العلاج:  </h4>
        <p class="fw-bold">قد ال يحتاج بعض المصابين بالتهاب البروستاتا البسيط إلى عالج، أما البعض اآلخر فقد يحتاج إلى:  </p>
        <ul class="fw-semibold">
          <li> بعض األدوية، مثل: <ul> <li>  ومنها نوع : يعمل هذه األدوية على استرخاء عضالت عنق البروستاتا والمثانة، مما يسمح بتدفق البول <br> بسهولة أكبر.
          </li>
          <li>:ونوع اخر من االدوية :هي أدوية يمكن أن تمنع البروستاتا من النمو أكثر، أو حتى تسبب تقليل حجمها.          </li>
         </ul> </li>
          <li class="mt-2">يمكن للطبيب إضافة بعض األدوية لعالج ضعف االنتصاب.</li>
          <li class="mt-2"> القسطرة والجراحة في بعض حاالت تضخم البروستاتا للمصابين بما يلي : <ul> <li> القصور الكلوي</li> <li> احتباس البول.</li> <li>التهابات المسالك البولية المتكررة.</li><li> حصوات المثانة المتكررة .</li> </ul> </li>
          <li class="mt-2" >المرضى الذين ال يستجيبون للعالج، أو غير الراغبين في استخدام عالجات أخرى، عليهم تغيير نمط حياتهم باتباع <br> التالي : <ul> <li>يجب على جميع المصابين بتضخم البروستاتا تجنب األدوية التي يمكن أن تفاقم األعراض، أو تسبب احتباس  <br> البول، ومن هذه األدوية: بعض مضادات الحساسية ومضادات االحتقان</li> <li>التوقف عن شرب السوائل قبل ساعات قليلة من النوم، أو الخروج من المنزل.</li> <li> تقليل شرب المشروبات التي يمكن تزيد من الحاجة إلى التبول، مثل: الكافيين.</li> <li> عند التبول، ينصح بإفراغ المثانة، ثم االنتظار دقيقة واحدة، وإعادة اإلفراغ مرة أخرى.</li> </ul></li>
        </ul>
      </div>
    </section>

  </div>
</section>
