
<Section class="text-white mt-3 pt-4">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Maxime adipisci eum quam numquam quibusdam minima perspiciatis hic, odio repellendus, ad eaque totam tenetur, culpa neque nisi architecto similique distinctio unde!</Section>

<section class="mysec mx-auto mt-4 pt-4" data-aos="zoom-in-up">
  <div class="container p-4 rounded shadow border border-danger">
    <div class="pt-3">
      <h2 class="text-capitalize text-center">
        علاج التهاب <span class="main-color"> البروستاتا </span> الحاد
      </h2>
    </div>

    <div class="row g-4 p-4 align-items-center">
      <!-- النصوص -->
      <div class="col-12 col-md-8">
        <h3 class="fw-bold">المضادات الحيوية</h3>
        <ul class="p-3 mt-2 lh-lg">
          <li class="fw-semibold">
            تُستخدم لمدة 2-4 أسابيع
            <span class="main-color">(مثل Ciprofloxacin، Levofloxacin، أو Trimethoprim-Sulfamethoxazole).</span>
          </li>
          <li class="mt-3 fw-semibold">
            مسكنات الألم:
            <span class="main-color">مثل Ibuprofen أو Paracetamol</span>
            لتخفيف الألم والحمى.
          </li>
          <li class="mt-3 fw-semibold">شرب السوائل: لطرد البكتيريا عبر البول.</li>
          <li class="mt-3 fw-semibold">الراحة: وتجنب الجلوس الطويل لتقليل الضغط على البروستاتا.</li>
        </ul>
      </div>

      <!-- الفيديو -->
      <div class="col-12 col-md-4">
        <div class="ratio ratio-16x9 w-100">
          <iframe
            src="https://www.youtube.com/embed/biXyRibTtCs"
            allowfullscreen
            title="التهاب البروستاتا الحاد"
            class="rounded shadow">
          </iframe>
        </div>
      </div>
    </div>
  </div>
</section>
