<section class="mysec p-4 mx-auto mt-4 pt-4" data-aos="zoom-in-up">
  <div class="mt-3 container p-4 rounded shadow border border-danger">
    <div class="mt-3 pt-3">
      <h2 class="text-capitalize text-center">علاج تضخم <span class="main-color">البروستاتا</span> الحميد</h2>
    </div>

    <div class="row g-4 p-4" data-aos="zoom-in-up">
      <div class="col-md-8">
        <p class="p-2 fw-semibold">
          العلاج التحفظي : هو علاج غير جراحي أو تدخلي بهدف تخفيف الأعراض وتحسين حالة المريض، وهو مناسب في الحالات البسيطة والتي لا تحتوي على مضاعفات حيث إنه خالٍ من أي أعراض جانبية أو مضاعفات، ويتم الاعتماد على تعاليم الطبيب للمريض والسير على روتين يومي معين مثل شرب الماء كثيرًا والابتعاد عن تناول القهوة والشاي والكحوليات وتعديل جرعات بعض الأدوية الخاصة بأمراض أخرى بالإضافة إلى تفريغ المثانة بالكامل وتمارين كيجل، ويجب على المريض متابعة الطبيب بشكل دوري للكشف عن أي تطور في الحالة المرضية أو ظهور مضاعفات.
        </p>

        <h3>العلاج الدوائي : أ. حاصرات ألفا (Alpha-Blockers)</h3>
        <ul class="p-3 pt-3 mt-2">
          <li class="fw-semibold">مثل: <span class="main-color">تامسولوسين (Tamsulosin)، تيرازوسين (Terazosin)، دوكسازوسين (Doxazosin)</span></li>
          <li class="fw-semibold mt-3">التأثير: تُرخي عضلات البروستاتا وعنق المثانة، فتحسّن تدفق البول ويوجد تحسن سريع للأعراض مع استخدامه</li>
          <li class="fw-semibold mt-3">الاستخدام: للأعراض المتوسطة إلى الشديدة <span class="main-color">خاصة الأعراض الانسدادية</span></li>
        </ul>

        <h3 class="mt-3">ب. مثبطات 5-ألفا ريدكتاز (5-Alpha Reductase Inhibitors)</h3>
        <ul class="mt-3 p-3">
          <li class="fw-semibold">مثل <span class="main-color">فيناسترايد (Finasteride)، دوتاستيرايد (Dutasteride)</span></li>
          <li class="fw-semibold mt-3">التأثير: تقلص حجم البروستاتا على المدى الطويل بنسبة 20 إلى 30% (تستغرق 3-6 أشهر) ويقلل خطر احتباس البول والحاجة إلى الجراحة</li>
          <li class="fw-semibold mt-3">الاستخدام: عندما يكون التضخم كبيرًا (أكثر من 40 جرامًا)</li>
          <li class="fw-semibold mt-3">الآثار الجانبية: ضعف الانتصاب، انخفاض الرغبة الجنسية</li>
        </ul>

        <h3 class="mt-3">ج. الأدوية المركبة</h3>
        <ul class="mt-3 pt-2 p-3">
          <li class="fw-semibold mt-2">مثل <span class="main-color">دوتاستيرايد + تامسولوسين</span> لتحسين الأعراض سريعًا وتقليل الحجم معًا. لكن يتعرض المريض للأعراض الجانبية لكلا من حاصرات ألفا ومثبطات 5-ألفا ريدكتاز بالإضافة لارتفاع السعر</li>
        </ul>

        <h3 class="mt-3">د. مضادات الكولين (Anticholinergics)</h3>
        <ul class="p-3 mt-3 pt-3">
          <li class="fw-semibold">مثل: <span class="main-color">أوكسي بوتينين Oxybutynin</span></li>
          <li class="mt-3 fw-semibold">التأثير: تخفيف الأعراض التخزينية (التبول المتكرر، الإلحاح البولي)</li>
        </ul>

        <h3 class="mt-3">هـ. مثبطات الفوسفوديستيراز-5 (PDE5 Inhibitors)</h3>
        <ul class="p-3 pt-3 mt-3">
          <li class="mt-3 fw-semibold">مثل: <span class="main-color">تادالافيل Tadalafil</span></li>
          <li class="fw-semibold mt-3">التأثير: تحسين الأعراض البولية والضعف الجنسي معًا</li>
          <li class="fw-semibold mt-3">المضاعفات المحتملة: الصداع، الدوخة، ألم في الظهر، واحمرار الوجه</li>
        </ul>
      </div>

      <!-- الفيديوهات -->
      <div class="col-md-4">
        <div class="d-flex flex-column align-items-center gap-4">
          <div class="ratio ratio-16x9 w-100">
            <iframe src="https://www.youtube.com/embed/biXyRibTtCs"
              allowfullscreen
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture">
            </iframe>
          </div>
          <div class="ratio ratio-16x9 w-100">
            <iframe src="https://www.youtube.com/embed/biXyRibTtCs"
              allowfullscreen
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture">
            </iframe>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- =============================== -->

<section class="mysec p-4 mx-auto mt-4 pt-4" data-aos="zoom-in-up">
  <div class="mt-3 container p-4 rounded shadow border border-danger">
    <div class="mt-3 pt-3">
      <h2 class="text-capitalize text-center">علاج تضخم <span class="main-color">البروستاتا</span> الحميد</h2>
    </div>

    <div class="row g-4 p-4" data-aos="zoom-in-up">
      <div class="col-md-8">
        <h3 class="mt-3">الاستئصال عن طريق التدخل الجراحي التقليدي <span class="main-color">Open Prostatectomy</span></h3>
        <ul class="mt-3 pt-4">
          <li class="fw-bold mt-3">للتضخم الكبير جدًا (أكثر من 80-100 جرام): يتم عبر جراحة تقليدية</li>
        </ul>
        <p class="fw-semibold mt-2 text-capitalize fs-5">
          ومن مزاياه: فعالية عالية جدًا في إزالة الأعراض وهو حل دائم في كثير من الحالات، حيث نادرًا ما تعود الأعراض مرة أخرى مقارنة بالطرق غير الدوائية الأخرى مثل جراحة المنظار أو شق البروستاتا
        </p>

        <h3 class="mt-3 pt-3">ب. استئصال البروستاتا بالليزر <span class="main-color">(GreenLight, HoLEP)</span></h3>
        <ul class="mt-3 p-2">
          <li class="fw-semibold">مثل: علاج بالليزر الأخضر أو الثوليوم</li>
          <li class="fw-semibold mt-3">المميزات: نزيف أقل، تعافي أسرع مقارنة بإزالة أنسجة البروستاتا عن طريق المنظار</li>
          <li class="fw-semibold mt-3">أقل مضاعفات لكن تكلفة أعلى</li>
        </ul>

        <h3 class="mt-3 pt-3">ج. شق البروستاتا <span class="main-color">(TUIP)</span></h3>
        <p class="fw-bold fs-5 mt-3">
          للتضخم الصغير: يتم عمل شقوق في البروستاتا لتوسيع مجرى البول، فهو غير فعال لعلاج التضخمات كبيرة الحجم، ومن ضمن عيوبه احتمالية عودة الأعراض مرة أخرى، بالإضافة لفقدان السيطرة على البول والقذف العكسي.
        </p>

        <h3>د. علاجات طفيفة التوغل <span class="main-color">(Minimally Invasive)</span></h3>
      </div>

      <!-- الفيديوهات -->
      <div class="col-md-4">
        <div class="d-flex flex-column align-items-center gap-4">
          <div class="ratio ratio-16x9 w-100">
            <iframe src="https://www.youtube.com/embed/J4MtMD5aLFA"
              allowfullscreen
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture">
            </iframe>
          </div>
          <div class="ratio ratio-16x9 w-100">
            <iframe src="https://www.youtube.com/embed/WBmpr3P7fLg"
              allowfullscreen
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture">
            </iframe>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
