<section class="p-3  shadow bg-body-tertiary border border-danger mt-3 p-4 mt-3 " data-aos="zoom-in-up">
  <div class="container p-4" data-aos="zoom-in-up">
    <div class="p-4 mt-2">
      <h2 class="mt-4 text-center"> نبذه مختصره دليلك الطبي لفهم امراض  <span class="text-main">البروستاتا </span> بأنواعها المختلفة </h2>

    </div>
   <div class="row p-4" data-aos="zoom-in-up">
       <div class="d-flex flex-column flex-sm-row gap-2 align-items-stretch justify-content-center mt-3">
  <button routerLink="/elthab" class="btn btn-outline-danger w-100">التهاب البروستاتا</button>
   <button routerLink="/canser" class="btn btn-outline-danger w-100">سرطان البروستاتا</button>
  <button routerLink="/tadkhom" class="btn btn-outline-danger w-100">تضخم البروستاتا الحميد</button>

</div>

</div>

  </div>
</section>
