<section class="mt-4 p-4 shadow bg-body-tertiary ">
  <div class="container p-4 mt-3">
    <h2 class="text-center fw-bold fs-1"> التهاب <span class="text-main"> البروستاتا </span> </h2>

        <h3 class="fw-bold p-2 mt-2 fs-3">التهاب <span class="fs-4 text-main">البروستاتا</span></h3>
        <div>
          <p class="fw-bold p-1">وقد يتضمن الالتهاب تأثّر المناطق المجاورة، ويعتبر التهاب البروستاتا أكثر مشاكل الجهاز البوليّ شيوعاً في الرجال الذين<br>تقلّ أعمارهم عن 50 عاماً، ويمكن القول إنّ ما يُقارب مليونَي شخص يُراجع الأطباء المختصين سنوياً في الولايات المتحدة <br>الأمريكية لأجل هذا الغرض</p>
        </div>
        <div>
          <h4 >انواع التهاب <span class="text-main fs-4">البروستاتا</span></h4>
          <ul class="fw-semibold  p-2 ">
            <li class="p-1 ">التهاب البروستاتا  <span class="text-main"> الجرثومي الحاد</span> (Acute Bacterial Prostatitis)<p class="mt-1"> <span>الأسباب: </span> عدوى بكتيرية عن طريق الجهاز البولي او التناسلي</p> </li>
            <li class="p-1">التهاب البروستاتا  <span class="text-main">الجرثومي المزمن</span> (Chronic Bacterial Prostatitis)<p class="mt-1  "><span>الأسباب:</span>عدوى بكتيرية طويلة الأمد أو متكررة او عدم الالتزام بجرعة المضاد الحيوي الموصوفه من قبل الطبيب المعالج ومن احد الأسباب ضعف المناعة كمرضي السكري <br>و مرضي متلازمة نقص المناعة المكتسب والذين يأخذون علاج الكيرتزون بشكل مستمر </p> </li>
            <li class="p-1">التهاب البروستاتا <span class="text-main">غير الجرثومي المزمن </span> / <span class="text-main">متلازمة ألم الحوض المزمن</span> Chronic Prostatitis / Chronic Pelvic Pain Syndrome - CP/CPPS <p class="mt-1">هو اشهر أنواع <span class="text-main">التهاب البروستاتا</span></p> <p>الأسباب: غير واضحة، لكن يُعتقد أن لها علاقة بالتوتر العصبي , تغيرات هرمونية ، التهابات غير بكتيرية، أو الامراض المناعية .</p></li>
            <li class="p-1"> التهاب البروستاتا <span class="text-main"> بدون أعراض</span> Asymptomatic Inflammatory Prostatitis <p>الأسباب: غير معروفة، وغالبًا يتم اكتشافه بالصدفة أثناء فحوصات أخري لا يحتاج عادة الي علاج الا اذا تسبب في مضاعافات </p></li>
          </ul>
        </div>
        <div>
          <h4>اعراض  التهاب   <span class="text-main">البروستاتا الحاد</span> :</h4>
          <p class="text-muted"> وتتمثل أعراض التهاب البروستاتا الحاد بكثرة التبوّل ، والشعور بحاجة ملحّة للتبوّل، والحمّى واحتباس البول المفاجيء <br> والقشعريرة، والغثيان، والاستفراغ، وعدوى المسالك البولية وغيرها، أمّا الحالات غير الناتجة عن البكتيريا فتتمثل بمعاناة <br>المصاب من الألم والانزعاج بين كيس الصفن و فتحة الشرج ، وفي القضيب، وأسفل الظهر، ومن الممكن ظهور ألم خلال <br>القذف أو بعده</p>
        </div>
        <div>
          <h4>اعراض التهاب <span class="text-main"> البروستاتا المزمن</span> :</h4>
          <p class="text-muted">تتشابه مع اعراض الالتهاب الحاد بأستثناء تطور الاعراض بشكل ابطأ و شدة الألم تكون اخف في الالتهاب المزمن ويكون <br>غير مصاحب بحمي واحتباس مفاجئ للبول</p>
        </div>
        <div class="shadow p-3 rounded-3 bg-body-tertiary">
          <div>
            <h3 class="text-center fw-bold mt-2"> متي يجب ان ازور الطبيب ؟</h3>
            <ul>
              <li class="fw-semibold">عند اإلحساس بألم في الحوض، أو صعوبة أو ألم عند التبول، أو عند القذف المؤلم. </li>
              <li class="fw-semibold">عدم القدرة الكاملة على التبول، أو ظهور دم في البول </li>
              <li class="fw-semibold">عند الحاجة المؤلمة، والمتكررة، والعاجلة للتبول، مع ارتفاع درجة حرارة الجسم، واإلحساس بالقشعريرة.
              </li>
              <li class="fw-semibold">عند اإلحساس بألم في أسفل البطن، أو المسالك البولية.</li>
            </ul>
          </div>
          <div class="p-2">
            <h4 class="mt-1 fw-bold" >المضاعفات -:  </h4>
            <ul>
              <li class="fw-semibold">العدوي البكتيرية في مجري الدم </li>
              <li  class="fw-semibold">خراج بروستاتي </li>
              <li  class="fw-semibold">العجز الجنسي </li>
              <li  class="fw-semibold">انتقال العدوي العضاء تناسلية اخري .
              </li>
            </ul>

          </div>
          <div class="mt-1 p-2 ">
           <h4 class="fw-bold">التشخيص -:   </h4>
           <p class="fw-semibold">كل نوع من أنواع التهاب البروستاتا يتطلب عال ًجا مختلفًا، حيث قد يلجأ الطبيب إلى استخدام أكثر من نوع من االختبارات.</p>
           <p class="fw-semibold" >مثل – التاريخ الطبي , الفحص السريري واختبارات اخري مثل تحليل البول , اختبار السائل البروستاتي , فحص المستقيم , او
            الموجات فوق الصوتية </p>
          </div>
          <div  class="mt-2 p-2">
            <h3 class="fw-bold" >علاج التهاب <span class="text-main">البروستاتا</span>  -:  </h3>
            <p class="fw-semibold">التهاب البروستاتا حالة قابلة للعالج؛ حيث يعتمد على نوع التهاب البروستاتا. أما إذا كانت المشكلة ال يمكن عالجها، فيمكن عادة <br> تخفيف األعراض عن طريق اتباع العالج الموصى به. ويمكن أن يشتمل عالج التهاب البروستاتا على المضادات الحيوية، أو ادويه
<br> تساعد على استرخاء عنق المثانة، وألياف العضالت في مكان اتصال البروستاتا بالمثانة. ويمكن أن يخفف هذا العالج من أثر
<br> األعراض، مثل التبول المؤلم. وقد تشعر األدوية المسكنه المضادة لاللتهاب المريض بمزيد من الراحة. وفي حاالت نادرة قد يحتاج
 <br> المريض إلى إجراء عملية جراحية.
</p>
          </div>

        </div>
  </div>
</section>
