<section class="shadow p-4 bg-body-tertiary " data-aos="zoom-in-up">
  <div class="container p-3">
    <div class="p-4">     <h2 class="mt-3 text-center">استكشف صحة <span class="text-main r"> البروستاتا</span> : دليل بصري لفهم الأعراض والعلاج</h2>
    </div>
    <div class="row row-cols-1 row-cols-sm-1 p-4 row-cols-md-3 g-4">
      <div class="col">
        <div class="card shadow border border-3 rounded-3">
          <img class="card-img-top" src="/imgs2/benign-prostatic-hyperplasia-bph-inflamed-260nw-1310215855.jpg" alt="Title" />
          <div class="card-body">

          </div>
        </div>

      </div>
      <div class="col">
        <div class="card border border-3 rounded-3">
          <img class="card-img-top" src="/imgs2/benign-prostatic-hyperplasia-logo-clinic-260nw-1860130378.jpg" width="350px" alt="Title" />
          <div class="card-body">
            <!-- <h4 class="card-title">Title</h4> -->
            <!-- <p class="card-text">Text</p> -->
          </div>
        </div>

      </div>
      <div class="col ">
        <div class="card border border-3  rounded-3">
          <img class="card-img" src="/imgs2/prostate-gland-bladder-urethra-zones-260nw-1108971683.jpg" width="350px" alt="Title" />
        </div>
      </div>

      <div class="col">
        <div class="card border border-3  rounded-3">
          <img class="card-img" src="/imgs2/ChatGPT Image May 1, 2025, 03_39_47 AM.png" width="350px" alt="Title" />
        </div>
      </div>

      <div class="col">
        <div class="card border border-3  rounded-3">
          <img class="card-img" src="/imgs2/normal-prostate-enlarged-gland-under-260nw-2433962297.jpg" width="350px" alt="Title" />
        </div>
      </div>

      <div class="col">
        <div class="card rounded-3">
          <img class="card-img" src="/imgs2/bph-info-concept_206049-4066.jpg" width="350px" alt="Title" />
        </div>
      </div>
      <div class="col">
        <div class="card border border-3  rounded-3">
          <img class="card-img" src="/imgs2/prostate-adenoma-organ-cancer-stones-260nw-1865692405.jpg" width="350px" alt="Title" />
        </div>
      </div>

      <div class="col">
        <div class="card border border-3  rounded-3">
          <img class="card-img" src="/imgs/ChatGPT Image Apr 28, 2025, 03_29_30 PM.png" width="350px" alt="Title" />
        </div>
      </div>
      <div class="col">
        <div class="card border border-3  rounded-3">
          <img class="card-img" src="/imgs2/prostate-cancer_1308-85670.jpg" width="350px" alt="Title" />
        </div>
      </div>
      <div class="col">
        <div class="card border border-3  rounded-3">
          <img class="card-img" src="/img3/bph-info-concept_206049-4070.jpg" width="350px" alt="Title" />
        </div>
      </div>
      <div class="col">
        <div class="card border border-3  rounded-3">
          <img class="card-img" src="/img3/prostatitis-inflammation-problem_206049-4119.jpg" width="350px" alt="Title" />
        </div>
      </div>
      <div class="col">
        <div class="card border border-3  rounded-3">
          <img class="card-img" src="/img3/prostate-cancer-concept_206049-4088.jpg" width="350px" alt="Title" />
        </div>
      </div>


      <div class="col">
        <div class="card border border-3  rounded-3">
          <img class="card-img" src="/img3/male-reproductive-organ_1308-82964.jpg" width="350px" alt="Title" />
        </div>
      </div>



      <div class="col">
        <div class="card border border-3  rounded-3">
          <img class="card-img" src="/img3/doctor-looks-prostate-through-magnifying-glass-prostate-icon-concept-vector-andrology-andrology-illustration-web-landing-page-blog_163674-634.jpg" width="350px" alt="Title" />
        </div>
      </div>
      <div class="col">
        <div class="card border border-3  rounded-3">
          <img class="card-img" src="/imgs2/man-with-renal-infection-illness-diagnosis_24640-23299.jpg" width="350px" alt="Title" />
        </div>
      </div>


    </div>
  </div>
</section>
