<section class="mt-4 p-3 shadow rounded-3">
  <div class="container">
    <h2 class="fw-bold mt-3 text-center pt-3"> سرطان <span class="text-main">البروستاتا</span></h2>
    <section class="shadow-sm p-3 rounded-3 ">
       <div class="row ">
      <div class="col col-md-8">
        <div class="d-flex align-items-center">
          <h3>سرطان <span class="text-main">البروستاتا</span> :</h3>
          <img src="/mainimg/WhatsApp Image 2025-05-05 at 23.49.59_3a9d4034.jpg" width="70px" alt="">
        </div>
        <div>
          <p class="text-center fw-semibold p-3">يُعتبر سرطان البروستاتا من أشهر أنواع السرطانات التي تصيب الرجال؛ إذ يبلغ عدد المصابين بسرطان البروستاتا سنوياً ما
            يُقارب 1.1 ما ينمو
            مليون شخص على مستوى العالم، وعلى الرغم من احتمالية نمو سرطان البروستاتا وانتشاره إال أن ه غالباً
            ويكبر ببطٍء، وهناك مجموعة من العوامل التي تزيد خطر اإلصابة بسرطان البروستاتا، ومن هذه العوامل ما يأتي: العمر؛ إذ ترتفع
            احتمالية اإلصابة مع التقدم في العمر، ولذلك يندر وجود حاالت سرطان البروستاتا في تحت سن الخامسة واألربعين من العمر.
             ي؛ فقد لوحظ زيادة فرصة المعاناة م
            التاريخ العائل ن سرطان البروستاتا في حال إصابة األب، أو االبن، أو األخ بالسرطان ذاته.
            ال ِعرق؛ حيث ترتفع فرصة اإلصابة بسرطان البروستاتا بين األفارقة األمريكيين </p>
        </div>
      </div>
      <div class="col col-md-4">
        <div class="inner d-flex gap-5 align-items-center justify-content-between">
          <div>
            <img src="/mainimg/sartan.jpg" alt="ourphoto"  class=" w-100 border border-3 rounded-3 border-danger-subtle">
            <div class="d-flex  gap-2 justify-content-between align-items-center">
              <p> <a class="text-main text-decoration-none fw-bold" target="_blank" href="https://commons.wikimedia.org/wiki/File:Cancer_prostate,_with_bladder_involvement.jpg"> اتجه الي المصدر </a> </p>
              <p class="fw-semibold text-center">Creative Commons CC0 1.0 Universal Public Domain Dedication</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- ************ -->
  <section class="shadow-sm p-3  rounded-3">
    <div class="row">
      <div class="col col-md-7 mt-3 pt-4 ">
        <h4>ألاعراض:</h4>
        <p class="fw-bold">تختلف االعراض من شخص لألخر حيث أن اغلب الرجال ليس لديهم أعراض على اإلطالق، والبعض قد يالحظ:</p>
        <ul class="fw-semibold">
          <li class="mt-2">صعوبة بدء التبول</li>
          <li class="mt-2" > ضعف أو توقف تدفق البول.</li>
          <li class="mt-2">كثرة التبول، خاصة في الليل</li>
          <li class="mt-2">  صعوبة في إفراغ المثانة.</li>
          <li class="mt-2"> ألم أو حرقان أثناء التبول. </li>
          <li class="mt-2">  دم في البول أو السائل المنوي </li>
          <li class="mt-2"> لم في أسفل الظهر، الوركين أو الحوض</li>
          <li class="mt-2"> القذف المؤلم</li>
        </ul>
      </div>
      <div class="col col-md-5">
        <div>
          <img src="/mainimg/sartan.3.jpg" alt="ourphoto"  class=" w-100 border border-3 rounded-3 border-danger-subtle">
          <div class="d-flex  gap-2 justify-content-between align-items-center">
            <p> <a class="text-main text-decoration-none fw-bold" target="_blank" href="https://commons.wikimedia.org/wiki/File:Prostate_Cancer.png"> اتجه الي المصدر </a> </p>
            <p class="fw-semibold text-center">Creative Commons Attribution-Share Alike 4.0 International license</p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="shadow-sm p-3  rounded-3 mt-3" >
    <div>
      <h4> التشخيص: </h4>
     <span class="text-main fw-bolder"> الفحص الاول </span>
     <ul class="fw-bold">
      <li>فحص PSA مستضد <span class="text-main">البروستاتا النوعي</span> <ul> <li> PSA هو بروتين تنتجه غدة البروستاتا، وارتفاع مستواه في الدم قد يشير إلى وجود مشكلة في البروستاتا <br> ( مثل التهاب، تضخم، أو سرطان)</li> <li> المستوى الطبيعي عادة أقل من 4 نانوغرام/مل، لكن هذا الرقم ليس قطعيًا وقد يرتفع PSA ألسباب غير سرطانية </li></ul></li>
      <li>الفحص الشرجي:(DRE) <ul> <li>يقوم الطبيب بإدخال إصبعه في المستقيم لفحص البروستاتا من حيث الحجم، الشكل، ووجود أي كتل أو مناطق
        صلبة قد تشير إلى سرطان.</li></ul>  <img class="mt-2" src="/mainimg/WhatsApp Image 2025-05-03 at 03.01.18_ad199a33.jpg" width="300px" alt="ourphoto">
        <div class="d-flex align-items-center mt-2 gap-2">
          <p> <a class="text-main text-decoration-none fw-bold" target="_blank" href="https://commons.wikimedia.org/wiki/File:Digital_Rectal_Exam"> اتجه الي المصدر </a> </p>
          <p>National Institutes of Health</p>
        </div>  </li>
     </ul>
    </div>
    <div>
      <h4 class="fw-bold">2الاشعات</h4>
      <ul class="fw-bold">
        <li>موجات السونار عبر المستقيم:(TRUS) <ul> <li> يتم إدخال مسبار صغير في المستقيم للحصول على صور دقيقة للبروستاتا. </li> <li>يستخدم عادة لتوجيه إبرة العينة ألخذ عينات من أنسجة البروستاتا.</li></ul> </li>
        <li> التصوير بالرنين المغناطيسي:(MRI) <ul> <li>يستخدم لتقييم حجم الورم ومدى انتشاره، خاصة قبل إجراء الخزعة</li> <li>قد يساعد في تحديد المناطق المشبوهة ألخذ العينات منها.</li></ul> </li>
      </ul>
    </div>
    <div>
      <h4 class="fw-bold">3.عينة <span class="text-main">البروستاتا</span></h4>
      <ul class="fw-bold">
        <li class="mt-2">هي الطريقة الوحيدة لتأكيد تشخيص سرطان البروستاتا</li>
        <li class="mt-2">يتم أخذ عينات صغيرة من أنسجة البروستاتا باستخدام إبرة رفيعة، عادة تحت توجيه الموجات فوق الصوتية.
          <ul>
            <li> <img src="/mainimg/3ayna.jpg" alt="ourPhoto" width="280px">
              <div class="d-flex  gap-2  align-items-center">
                <p> <a class="text-main text-decoration-none fw-bold" target="_blank" href="https://commons.wikimedia.org/wiki/File:Prostate_Needle_Biopsy.png"> اتجه الي المصدر </a> </p>
                <p class="fw-semibold text-center">(Creative Commons Attribution-Share Alike 4.0 International license)</p>
              </div>
             </li>

          </ul>

        </li>
        <li class="mt-2"> تُفحص العينات تحت المجهر لتحديد وجود خاليا سرطانية ونوع السرطان ودرجته</li>
      </ul>
    </div>
  </section>

  </div>
</section>
