<body>
<section class="mt-4 p-3 shadow rounded-3">
  <div class="container">
    <h2 class="fw-bold mt-3 text-center pt-3">سرطان <span class="text-main">البروستاتا</span></h2>

    <!-- المقدمة -->
    <section class="shadow-sm p-3  mt-3 pt-3 rounded-3">
      <div class="row">
        <div class="col col-md-8">
          <div class="d-flex align-items-center">
            <h3>سرطان <span class="text-main">البروستاتا</span> :</h3>
            <img src="/mainimg/WhatsApp Image 2025-05-05 at 23.49.59_3a9d4034.jpg" width="70px" alt="">
          </div>
          <p class="text-center fw-semibold p-3">
            يُعتبر سرطان البروستاتا من أشهر أنواع السرطانات التي تصيب الرجال؛ إذ يبلغ عدد المصابين بسرطان البروستاتا سنويًا ما يُقارب 1.1 مليون شخص على مستوى العالم. وعلى الرغم من احتمالية نمو سرطان البروستاتا وانتشاره، إلا أنه غالبًا ما ينمو ببطء. وهناك مجموعة من العوامل التي تزيد خطر الإصابة به مثل:
            <br>• العمر: تزداد الاحتمالية مع التقدم في السن، ونادرًا ما يُلاحظ تحت سن 45.
            <br>• التاريخ العائلي: خاصة إذا أُصيب الأب أو الأخ.
            <br>• العرق: يزيد بين الرجال من أصول أفريقية.
          </p>
        </div>
        <div class="col col-md-4">
          <img src="/mainimg/sartan.jpg" alt="ourphoto" class="w-100 border border-3 rounded-3 border-danger-subtle">
          <div class="d-flex gap-2 justify-content-between align-items-center mt-2">
            <p><a class="text-main text-decoration-none fw-light" target="_blank" href="https://commons.wikimedia.org/wiki/File:Cancer_prostate,_with_bladder_involvement.jpg">اتجه إلى المصدر</a></p>
            <p class="fw-light text-center">Creative Commons CC0 1.0</p>
          </div>
        </div>
      </div>
    </section>

    <!-- الأعراض -->
    <section class="shadow-sm p-3 rounded-3 mt-3">
      <div class="row">
        <div class="col col-md-7 mt-3 pt-4">
          <h4>الأعراض:</h4>
          <p class="fw-bold">تختلف الأعراض من شخص لآخر، حيث أن أغلب الرجال لا تظهر عليهم أعراض، لكن قد تشمل:</p>
          <ul class="fw-semibold">
            <li>صعوبة بدء التبول</li>
            <li>ضعف أو توقف تدفق البول</li>
            <li>كثرة التبول، خاصةً ليلًا</li>
            <li>صعوبة في تفريغ المثانة</li>
            <li>ألم أو حرقان أثناء التبول</li>
            <li>وجود دم في البول أو السائل المنوي</li>
            <li>ألم في أسفل الظهر أو الوركين أو الحوض</li>
            <li>القذف المؤلم</li>
          </ul>
        </div>
        <div class="col col-md-5">
          <img src="/mainimg/sartan.3.jpg" alt="ourphoto" class="w-100 border border-3 rounded-3 border-danger-subtle">
          <div class="d-flex gap-2 justify-content-between align-items-center mt-2">
            <p><a class="text-main text-decoration-none fw-light" target="_blank" href="https://commons.wikimedia.org/wiki/File:Prostate_Cancer.png">اتجه إلى المصدر</a></p>
            <p class="fw-light text-center">Creative Commons BY-SA 4.0</p>
          </div>
        </div>
      </div>
    </section>

    <!-- التشخيص -->
    <section class="shadow-sm p-3 rounded-3 mt-3">
      <h4>التشخيص:</h4>

      <!-- الفحص الأول -->
      <p class="text-main fw-bolder">الفحص الأول</p>
      <ul class="fw-bold">
        <li>
          فحص PSA (مستضد البروستاتا النوعي):
          <ul>
            <li>PSA هو بروتين تنتجه غدة البروستاتا، وارتفاعه قد يشير لمشكلة (التهاب، تضخم أو سرطان).</li>
            <li>المستوى الطبيعي عادةً أقل من 4 نانوغرام/مل، وقد يرتفع لأسباب غير سرطانية.</li>
          </ul>
        </li>
        <li>
          الفحص الشرجي (DRE):
          <ul>
            <li>يقوم الطبيب بإدخال إصبعه في المستقيم لفحص البروستاتا من حيث الحجم، والشكل، والصلابة.</li>
          </ul>
          <img class="mt-2" src="/mainimg/WhatsApp Image 2025-05-03 at 03.01.18_ad199a33.jpg" width="300px" alt="ourphoto">
          <div class="d-flex align-items-center mt-2 gap-2">
            <p><a class="text-main text-decoration-none fw-light" target="_blank" href="https://commons.wikimedia.org/wiki/File:Digital_Rectal_Exam">اتجه إلى المصدر</a></p>
            <p class="fw-light">National Institutes of Health</p>
          </div>
        </li>
      </ul>

      <!-- الأشعة -->
      <h4 class="fw-bold">2. الأشعة</h4>
      <ul class="fw-bold">
        <li>
          موجات السونار عبر المستقيم (TRUS):
          <ul>
            <li>يُدخل مسبار صغير في المستقيم لالتقاط صور دقيقة للبروستاتا.</li>
            <li>يُستخدم غالبًا لتوجيه إبرة العينة.</li>
          </ul>
        </li>
        <li>
          التصوير بالرنين المغناطيسي (MRI):
          <ul>
            <li>يُقيّم حجم الورم ومدى انتشاره قبل أخذ العينة.</li>
            <li>يساعد في تحديد المناطق المشبوهة لأخذ العينات منها.</li>
          </ul>
        </li>
      </ul>

      <!-- العينة -->
      <h4 class="fw-bold">3. عينة <span class="text-main">البروستاتا</span></h4>
      <ul class="fw-bold">
        <li>هي الطريقة الوحيدة لتأكيد وجود السرطان.</li>
        <li>
          تُؤخذ عينة بأنسجة صغيرة عبر إبرة دقيقة عادةً بتوجيه السونار.
          <ul>
            <li>
              <img src="/mainimg/3ayna.jpg" alt="ourPhoto" width="280px">
              <div class="d-flex gap-2 align-items-center">
                <p><a class="text-main text-decoration-none fw-light" target="_blank" href="https://commons.wikimedia.org/wiki/File:Prostate_Needle_Biopsy.png">اتجه إلى المصدر</a></p>
                <p class="fw-light text-center">Creative Commons BY-SA 4.0</p>
              </div>
            </li>
          </ul>
        </li>
        <li>تفحص العينات تحت المجهر لتحديد نوع السرطان ودرجته.</li>
      </ul>
    </section>
  </div>
</section>

</body>






