<section class="home  p-4" data-aos="zoom-in-up">>
  <div class="d-flex justify-content-center align-items-center mt-4 p-4">
    <div class="mt-3 p-4 fw-bolder text-white fs-1">
      <h1 class="fw-bold text-center fa-3x"> البروستاتا</h1>
      <h2 class="text-center fw-bolder pt-4">صحة البروستاتا من صحة كل راجل سليم</h2>
    </div>
  </div>
</section>
<section class="main-home  bg-body-tertiary shadow border mt-3 p-5 shadow" data-aos="zoom-in-up">>
  <div class="container p-4">
    <h3 class="fw-bolder mb-2 fs-1 text-center">صحتك <span class="text-main">اولوية</span></h3>
    <div class="row p-2 mt-2">
      <div class="col col-md-6">
        <h3 class="fw-bold  ">وصف <span class="text-main">البروستاتا</span></h3>
        <p class="p-3 fw-bold ">هي بحجم كرة البينج بونج وتقع بين المثانة والقضيب الذكري، ويمر عبرها مجرى البول</p>
          <h3 class="fw-bold ">أهمية <span class="text-main">البروستاتا</span></h3>
          <p class="p-3 fw-bold  ">تتمثل وظيفة البروستاتا الأساسية بإفراز سائل يعمل على تغذية الحيوانات المنوية وحمايتها<br> وعند القذف، يُطلق هذا  لسائل إلى مجرى البول ويخرج مع الحيوانات المنوية على شكل سائل <br> منوي يُعرف بالمني. تشارك البروستاتا بنسبة 15-  30% من حجم السائل المنوي</p>
          <div>
            <div class="accordion accordion-flush" id="accordionFlushExample">




              <div class="accordion-item  myacc">
                <h2 class="accordion-header">
                  <button class="accordion-button  collapsed fw-bold fs-5 bg-body-tertiary text-main" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
                    انتشار المرض
                  </button>
                </h2>
                <div id="flush-collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                  <div class="accordion-body"> <ul class="fw-bold">
                    <li>التهاب <span class="text-main">البروستاتا</span> : نسبة الانتشار العامة تتراوح بين: 8% إلى 16% من الرجال سيُصابون بنوع من أنواع التهاب البروستاتا في مرحلة ما من حياتهم.</li>
                    <li class="mt-2" >تضخم  <span class="text-main"> البروستاتا الحميد</span> (BPH): تشير دراسة شملت خمس دول في الشرق الأوسط (مصر، تركيا، الكويت، السعودية، والإمارات) إلى أن معدل انتشار BPH يتراوح بين 13.84% و23.79% بين الرجال البالغين</li>
                    <li>
                      سرطان <span class="text-main mt-2">البروستاتا</span>: في عام 2021، سجلت دول الشرق الأوسط وشمال إفريقيا (MENA) حوالي 51,649 حالة جديدة من سرطان البروستاتا، مما يمثل 3.7% من الحالات العالمية. ومع أن معدل الإصابة في المنطقة أقل مقارنة بأوروبا وأمريكا الشمالية، إلا أن معدل الوفيات إلى الإصابة (MIR) كان أعلى، مما يشير إلى تشخيص المرض في مراحل متقدمة أو نقص في برامج الفحص المبكر.</li>

                  </ul> </div>
                </div>
              </div>
            </div>
          </div>
          <div class="mt-3">
            <h3>امراض <span class="text-main">البروستاتا</span></h3>
            <div class="d-flex gap-3 align-items-center" >
              <button routerLink="/elthab"  class="btn btn-outline-danger mt-2">التهاب البروستاتا</button>
              <button routerLink="/tadkhom" class="btn btn-outline-danger mt-2">تضحم البروستاتا الحميد</button>
              <button routerLink="/canser" class="btn btn-outline-danger mt-2">سرطان البروستاتا</button>

            </div>

          </div>
      </div>
      <div class="col col-md-6">
        <!-- <div class="main-img position-relative rounded-3 border border-2 border-opacity-10 border-black ">
          <img src="/img3/ChatGPT Image May 2, 2025, 04_43_14 AM.png" class="w-100" alt="">
          <div class="post d-flex justify-content-center align-items-center">
            <div class="">

              <p class=" fw-bold text-white text-center "> البروستاتا هي غدة صغيرة تحت المثانة  </p>

            </div>
          </div>

        </div> -->

        <div class="myimgs">
          <div class="card">
            <img class="border border-3 border-danger-subtle rounded-3 shadow "   src="/mainimg/prostatejpg.jpg" alt="Title" />
          </div>
          <div class="card-footer p-2" >
            <div class="d-flex gap-5 align-items-center justify-content-evenly">
              <span  >                <a class="text-decoration-none fw-bold text-main p-0 m-0" href="https://commons.wikimedia.org/wiki/File:%D8%AA%D8%B4%D8%B1%D9%8A%D8%AD_%D8%A7%D9%84%D8%B0%D9%83%D8%B1_%D8%A7%D9%84%D8%B3%D9%81%D9%84%D9%8A.png" target="_blank"> اتجه الي المصدر </a>
              </span>
              <p class="p-0 m-0 fw-bold">NCI Visuals Online</p>

            </div>

          </div>


        </div>







        <h3 class="text-center h4 mt-3 p-3">كل ما تحتاج معرفته عن <span class="text-main">البروستاتا</span> </h3>
      </div>

    </div>
    <div class="mx-auto text-center">
      <button class="btn btn-outline-danger mt-3 mx-auto rounded-pill px-4 py-2"  routerLink="/عن-المرض" > اعرف اكثر </button>
    </div>
  </div>



</section>

<!--  -->
<section class="p-4 shadow mt-4 border mx-auto" data-aos="zoom-in-up">>
  <div class="container p-3">
    <h2 class="text-center fw-bolder mb-3 "> نظرة عامة على أمراض  <span class="text-main">البروستاتا</span> </h2>
    <div class="row  g-4 p-4">
      <div class="col-md-8">
        <h2 > فهم <span class="fw-bolder text-main"> تضخم البروستاتا   </span>    </h2>
<p class="p-1  fw-bold  ">مرحبًا بك في موقعنا <span class="text-main">نحن هنا لزيادة الوعي حول تضخم البروستاتا</span></p>

<p class="p-3 fw-bold ">
تضخم البروستاتا الحميد (BPH) هو حالة شائعة بين الرجال مع التقدم في العمر، حيث تنمو غدة البروستاتا وتضغط على مجرى البول، مما يسبب أعراضًا مزعجة مثل التبول المتكرر، صعوبة في بدء التبول، وضعف تدفق البول.
</p>

<p class="fw-bold p-3">
على الرغم من أن تضخم البروستاتا ليس سرطانًا، إلا أنه يمكن أن يؤثر بشكل كبير على جودة الحياة. تتوفر العديد من الخيارات العلاجية، بدءًا من تغييرات نمط الحياة والأدوية، وصولاً إلى الإجراءات الجراحية البسيطة.
</p>

<p class="fw-bold p-3">
من خلال الفحص المبكر والعلاج المناسب، يمكن إدارة الأعراض بفعالية وتحسين الراحة اليومية. نحن هنا لمساعدتك في كل خطوة على الطريق.
</p>

      </div>
      <div class="col-md-4">
        <img src="/imgs/europeana-dMhmY7lTHqM-unsplash.jpg"  class=" img-thumbnail w-100"   alt="ourphoto">
        <div class="card-footer text-center">
          <a  class="text-decoration-none text-main fw-bold " href="https://unsplash.com/photos/a-drawing-of-a-pink-flower-on-a-white-background-dMhmY7lTHqM" target="_blank">اتجه الي المصدر</a>
        </div>
      </div>
    </div>
  </div>
</section>
<!--  -->
<section class="p-4 shadow mt-4 border mx-auto" data-aos="zoom-in-up">>
  <div class="container ">
    <h2 class="text-center fw-bolder mb-3 "> نظرة عامة على أمراض  <span class="text-main">البروستاتا</span> </h2>
    <div class="row  g-4 p-4">
      <div class="col-md-5">
        <img src="/mainimg/saratan1.jpg" class="w-100 img-thumbnail" alt="">
        <div class="text-center" >
          <span class="fw-bold" >source:Creative Commons Attribution-Share Alike 4.0 International license</span> <br>
          <span> <a class="text-decoration-none fw-bold text-main" href="https://commons.wikimedia.org/wiki/File:Prostate_Cancer.png" target="_blank" > اتجه الي المصدر </a> </span>
        </div>
      </div>
      <div class="col-md-7 text-center">
        <h2>فهم سرطان <span class="text-main">البروستاتا</span>   </h2>
        <p class="mt-1 p-3 fw-bold ">نحن هنا لزيادة الوعي حول سرطان البروستاتا</p>
        <p class="p-3 fa-paragraph fw-bold  mt-2"> سرطان البروستاتا هو أحد أكثر أنواع السرطان شيوعًا بين الرجال، حيث يتطور عندما تبدأ خلايا غدة البروستاتا في النمو
          بشكل غير طبيعي. في المراحل المبكرة، قد لا يسبب أي أعراض ملحوظة، ولكن مع تطور المرض قد تظهر أعراض مثل
          صعوبة التبول، وجود دم في البول أو السائل المنوي، وألم في منطقة الحوض
        </p>
        <p class="mt-1 p-3 fa-paragraph  fw-bold ">
          على الرغم من أن سرطان البروستاتا قد يكون بطيء النمو في بعض الحالات، إلا أنه قد ينتشر بسرعة في حالات أخرى، مما
          يجعل الكشف المبكر والعلاج الفوري أمرًا بالغ الأهمية. تتوفر العديد من الخيارات العلاجية، بدءًا من المراقبة النشطة وحتى
          الجراحة والعلاج الإشعاعي والعلاج الهرموني
        </p>

      </div>

    </div>
  </div>
</section>
<!-- testimoinal sec -->




<section class="mt-4 p-4 bg-sec shadow border" data-aos="zoom-in-up">>
  <div class="container">
    <div class="title mt-3 p-3">
      <h2 class="fw-bold fs-3 text-center">تحديات صحة   <span class="text-main">البروستاتا</span>  </h2>
      <p class="mt-1 p-3 fw-bold fs-5 text-center"   >الحفاظ على صحة البروستاتا أمر ضروري مع التقدم في العمر. الوعي المبكر يمكن أن يساعد في الوقاية من المضاعفات <br>  الخطيرة من خلال التشخيص المبكر والعلاج المناسب، يمكن للرجال الاستمتاع بحياة صحية ونشيطة
      </p>
    </div>

    <!-- sliderrrr -->
    <div id="carouselExampleIndicators" class="carousel slide">
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
      </div>

      <div class="carousel-inner">
        <div class="carousel-item active">
          <div class="d-flex flex-column gap-3 justify-content-center align-items-center text-center">
            <i class="fa-solid text fa-3x text-main fa-quote-left"></i>
            <img src="/imgs/DOC1.png" width="200PX" class="rounded-circle my-3" alt="">
            <p class="fw-bold fs-5 text-muted" >"الاكتشاف المبكر لمشاكل البروستاتا قد ينقذ الحياة. الفحوصات الدورية ضرورية لكل رجل" </p>
            <p class="fw-bold fs-5"> د. جيمس كارتر</p>
           </div>
        </div>
        <div class="carousel-item">
          <div class="d-flex flex-column gap-3 justify-content-center align-items-center text-center">
            <i class="fa-solid text fa-3x text-main fa-quote-left"></i>
            <img src="/imgs/DOC2.png" width="200px"  class="rounded-circle my-3" alt="">
            <p class="fw-bold fs-5 text-muted" >"العناية بصحة البروستاتا سبيلٌ لحياةٍ مطمئنةٍ وعمرٍ مديد" </p>
            <p class="fw-bold fs-5"> د.ماري اندريسون</p>
           </div>
        </div>
        <div class="carousel-item">
          <div class="d-flex flex-column gap-3 justify-content-center align-items-center text-center">
            <i class="fa-solid text fa-3x text-main fa-quote-left"></i>
            <img src="/imgs/DOC3.png" width="200px"  class="rounded-circle my-3" alt="">
            <p class="fw-bold fs-5 text-muted" >"فهم صحة البروستاتا يعطي الرجال القوة لاتخاذ قرارات أفضل لمستقبلهم." </p>
            <p class="fw-bold fs-5">  د. صامويل ريد</p>
           </div>
        </div>
      </div>

    </div>
  </div>
</section>


<!-- start nav&taps -->
