<nav class="navbar navbar-expand-lg fixed-top   bg-body-tertiary ">
  <div class="container">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mx-auto mb-2 mb-lg-0 mynav">

        <li class="nav-item">
          <a class="nav-link" routerLink="/الرئيسية" routerLinkActive="  text-main shadow rounded " >الرئيسية</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/عن-المرض" routerLinkActive="text-main shadow rounded"> عن الامراض</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/معرض" routerLinkActive="text-main shadow rounded" >معرض البروستاتا الطبي </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="طرق-العلاج" routerLinkActive="text-main shadow rounded" >طرق العلاج</a>
        </li>

      </ul>

    </div>
  </div>
</nav>
